{{define "content"}}
    <h2 class="mb-4">Edit Campaign</h2>
    <div class="card">
        <div class="card-body">
            {{if .error}}
            <div class="alert alert-danger">
                {{.error}}
            </div>
            {{end}}
            <form action="/campaigns/update/{{.campaign.ID}}" method="post">
                <div class="form-group mb-3">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" required placeholder="Enter Name" value="{{.campaign.Name}}">
                </div>
                <div class="form-group mb-3">
                    <label for="">Short Description</label>
                    <input type="text" name="short_description" class="form-control" required placeholder="Enter Short Description" value="{{.campaign.ShortDescription}}">
                </div>
                <div class="form-group mb-3">
                    <label for="">Description</label>
                    <textarea name="description" id="" cols="30" rows="10" class="form-control" required placeholder="Enter Description">{{.campaign.Description}}</textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="">Goal Amount</label>
                    <input type="number" name="goal_amount" class="form-control" required placeholder="Enter Goal Amount" value="{{.campaign.GoalAmount}}">
                </div>
                <div class="form-group mb-3">
                    <label for="">Perks (comma separated)</label>
                    <input type="text" name="perks" class="form-control" required placeholder="Enter Perks" value="{{.campaign.Perks}}">
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{{end}}